<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PG11David_Core_Data.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18EFF1951F89BA490076CCF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18EFF1AC1F89BA490076CCF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18EFF1B71F89BA490076CCF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
